@page "/admin"
<h3>Admin</h3>

<MudGrid>
    <MudItem xs="12">
        <ClassroomsTable />
    </MudItem>
    <MudItem xs="12">
        <CadetsTable />
    </MudItem>
    <MudItem xs="12">
        <UsersTable />
    </MudItem>
</MudGrid>

